<div class="nav-margin"></div>
<br>
<div *ngIf="error" class="alert alert-danger">Incorrect username or password.</div>
<div *ngIf="success" class="alert alert-success">{{success}}</div>
<div class="row d-flex justify-content-center">
    <div class="card col-md-6 center">
        <div class="card-body">
            <h4 class="card-title">Login</h4>
            <br>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="username" formControlName="username" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                </div>
                <div class="form-group">
                    <a class="link" [routerLink]="['/register']">Or Register instead</a>
                </div>
            </form>
        </div>
    </div>
</div>