<div class="nav-margin"></div>
<br>
<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<div *ngIf="success" class="alert alert-success">{{success}}</div>
<div class="row d-flex justify-content-center">
    <div class="card col-md-6 center">
        <div *ngIf="success">
            <button class="btn btn-primary link" [routerLink]="['/login']">
                <span class="mr-1"></span>
                Login
            </button>
        </div>
        <div class="card-body" *ngIf="success == null">
            <h4 class="card-title">Register</h4>
            <br>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control"
                        [ngClass]="{ 'is-invalid': (f.username.dirty || f.username.touched) && f.username.errors }" />
                    <div *ngIf="(f.username.dirty || f.username.touched) && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                        <div *ngIf="f.username.errors.usernameInUse">Username is in use</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="text" formControlName="email" class="form-control"
                        [ngClass]="{ 'is-invalid': (f.email.dirty || f.email.touched) && f.email.errors }" />
                    <div *ngIf="(f.email.dirty || f.email.touched) && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">E-mail is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        <div *ngIf="f.email.errors.usernameInUse">Email is in use</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': (f.password.dirty || f.password.touched) && f.password.errors }" />
                    <div *ngIf="(f.password.dirty || f.password.touched) && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control"
                        [ngClass]="{ 'is-invalid': (f.confirmPassword.dirty || f.confirmPassword.touched) && f.confirmPassword.errors }" />
                    <div *ngIf="(f.confirmPassword.dirty || f.confirmPassword.touched) && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="!registerForm.valid || loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Register
                    </button>
                </div>
                <div class="form-group">
                    <a class="link" [routerLink]="['/login']">Or Login instead</a>
                </div>
            </form>
        </div>
    </div>
</div>