<header>
  <nav class="navbar navbar-light navbar-expand-sm bg-transparent-8 border-bottom box-shadow font-weight-bold navbar-default fixed-top">
    <div class="container">
      <a class="navbar-brand d-none d-md-block" [routerLink]="['/']">
        <img src="../../assets/images/logo.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/counter']">Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/fetch-data']">Fetch data</a>
          </li>
        </ul>
      </div>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow justify-content-center">
          <li *ngIf="currentUser" class="nav-item">
            <a class="nav-link text-primary" [routerLink]="['']">{{currentUser.username}}</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a *ngIf="currentUser == null" class="nav-link" [routerLink]="['/login']">Login/Register</a>
            <a *ngIf="currentUser" class="nav-link" [routerLink]="['']" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>