a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar-brand {
  padding: 0;
}

.navbar-brand > img {
  max-width: 225px;
  height: 60px;
  object-position: 46%;
  object-fit: cover;
}