ngb-carousel {
    height: 450px;
}

ngb-carousel img {
    height: 450px;
    object-fit: cover;
    width: 100%;
}

ngb-carousel h1, ngb-carousel h2, ngb-carousel h3 {
    text-shadow: 1px 1px 1px #31393d;
}