<div class='container-fluid'>
        <ngb-carousel class="row">
            <ng-template ngbSlide>
                <img src="https://image.shutterstock.com/image-photo/mountains-during-sunset-beautiful-natural-260nw-407021107.jpg"
                    alt="Delhi Metro">
                <div class="carousel-caption">
                    <h2 >Delhi Metro</h2>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="https://images.unsplash.com/photo-1541233349642-6e425fe6190e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                    alt="Bangalore Metro">
                <div class="carousel-caption">
                    <h2>Bangalore Metro</h2>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="https://image.shutterstock.com/image-photo/colorful-flower-on-dark-tropical-260nw-721703848.jpg"
                    alt="Channai Metro">
                <div class="carousel-caption">
                    <h2>Channai Metro</h2>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="Jaipur Metro">
                <div class="carousel-caption">
                    <h2>Jaipur Metro</h2>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="Mumbai Metro">
                <div class="carousel-caption">
                    <h2>Mumbai Metro</h2>
                </div>
            </ng-template>
        </ngb-carousel>
</div>