<app-carousel></app-carousel>
<div class="container-fluid bg-light">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-6">
      <br>
      <div class="mt-4" *ngFor="let oneNews of news; let i = index">
        <mat-card>
          <img class="rounded float-right d-none d-sm-block" src="{{oneNews.imageUri}}">
          <mat-card-header>
            <mat-card-title>{{oneNews.title}}</mat-card-title>
            <img mat-card-avatar src="{{oneNews.avatarUri ? oneNews.avatarUri : 'https://dogecoin.com/imgs/doge.png'}}">
            <mat-card-subtitle>{{oneNews.username}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="d-block d-sm-none" src="{{oneNews.imageUri}}">
          <mat-card-content>{{oneNews.content}}</mat-card-content>
          <div class="clearfix"></div>
        </mat-card>
      </div>
    </div>
  </div>
</div>